@import '../colors.scss';

.Button {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  color: $color-white;
  border: none;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    box-shadow: 0 0 10px 0 $color-panelHover;
  }

  &:focus {
    outline: none;
  }

  &-form {
    padding: 10px 30px;
  }

  &--green {
    background-color: $color-success;
  }

  &--red {
    background-color: $color-error;
  }

  &--yellow {
    background-color: $color-warning;
  }

  &-floating {
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    padding: 10px;
    z-index: 10000;
    box-shadow: 0 0 10px 0 $color-panelShadow;

    &--left {
      left: 20px;
    }

    &--right {
      right: 20px;
    }
  }
}