@import '../colors';

.Panel {
  margin: 15px 10px;
  box-shadow: 0 0 10px 0 $color-panelShadow;
  transition: all 0.3s linear;

  &:hover {
    box-shadow: 0 0 10px 0 $color-panelHover;
  }

  &-header {

  }

  &-body {

  }

  &-footer {

  }
}